---
import TherapyProcess from "../components/about-comps/TherapyProcess.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Page Header Start -->
  <div class="page-header about-page-header bg-radius-section parallaxie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="text-anime-style-2" data-cursor="-opaque">About Us</h1>
            <nav class="wow fadeInUp">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">home</a>
                </li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Page About Us Section Start -->
  <div class="page-about-us bg-radius-section">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <!-- Page About Content Start -->
          <div class="page-about-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">Our Core Principle</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                We Treat People, Not Just Symptoms
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.25s">
                To us, you are never just "a bad knee" or "a sore back." A real
                recovery plan must fit your specific lifestyle and goals. That's
                why we take the time to listen and learn what matters to you. We
                prioritize individual attention, building a recovery plan that
                is designed to work for you.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Page About Content Body Start -->
            <div class="page-about-content-body">
              <div class="row">
                <div class="col-lg-7 col-md-6">
                  <!-- Page About Content List Start -->
                  <div class="page-about-content-list">
                    <div
                      class="page-about-content-item wow fadeInUp"
                      data-wow-delay="0.5s"
                    >
                      <div class="icon-box">
                        <img src="images/icon-page-about-list-1.svg" alt="" />
                      </div>
                      <div class="page-about-item-content">
                        <p>team of highly skilled and experienced</p>
                      </div>
                    </div>

                    <div
                      class="page-about-content-item wow fadeInUp"
                      data-wow-delay="0.75s"
                    >
                      <div class="icon-box">
                        <img src="images/icon-page-about-list-2.svg" alt="" />
                      </div>
                      <div class="page-about-item-content">
                        <p>team is composed certified high trained</p>
                      </div>
                    </div>
                  </div>
                  <!-- Page About Content List End -->
                </div>

                <div class="col-lg-5 col-md-6">
                  <!-- Page About Content Box Start -->
                  <div
                    class="page-about-content-box wow fadeInUp"
                    data-wow-delay="0.5s"
                  >
                    <div class="page-about-box-title">
                      <h3>The Best in Physiotherapy Care</h3>
                    </div>
                    <div class="page-about-box-list">
                      <ul>
                        <li>Expert</li>
                        <li>Effective</li>
                        <li>Expert Team</li>
                        <li>Compassionate</li>
                      </ul>
                    </div>
                  </div>
                  <!-- Page About Content Box End -->
                </div>
              </div>
            </div>
            <!-- Page About Content Body End -->

            <!-- Page About Content Btn Start -->
            <!-- <div
              class="page-about-content-btn wow fadeInUp"
              data-wow-delay="1.25s"
            >
              <a href="#" class="btn-default"><span>book appointment</span></a>
            </div> -->
            <!-- Page About Content Btn End -->
          </div>
          <!-- Page About Content End -->
        </div>

        <div class="col-lg-7">
          <!-- Page About Images Start -->
          <div class="page-about-image">
            <!-- Page About Image Start -->
            <div class="page-about-img-1">
              <figure>
                <img src="images/page-about-bg-image.jpg" alt="" />
              </figure>
            </div>
            <!-- Page About Image End -->

            <!-- Page About Image Start -->
            <div class="page-about-img-2">
              <figure>
                <img src="images/page-about-image.png" alt="" />
              </figure>
            </div>
            <!-- Page About Image End -->
          </div>
          <!-- Page About Image End -->
        </div>
      </div>

      <!-- Page Testimonial Box Start -->
      <div class="about-testimonial-box">
        <div class="row">
          <div class="col-lg-12">
            <!-- About Testimonial Slider Start -->
            <div class="about-testimonial-slider">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <!-- About Testimonial Slide Start -->
                  <div class="swiper-slide">
                    <div class="about-testimonial-item">
                      <p>Recover Faster with Expert Physiotherapy Care</p>
                    </div>
                  </div>
                  <!-- About Testimonial Slide End -->

                  <!-- About Testimonial Slide Start -->
                  <div class="swiper-slide">
                    <div class="about-testimonial-item">
                      <p>Expert Care for Your Journey to Recovery</p>
                    </div>
                  </div>
                  <!-- About Testimonial Slide End -->

                  <!-- About Testimonial Slide Start -->
                  <div class="swiper-slide">
                    <div class="about-testimonial-item">
                      <p>get ready Your Path to Wellness Starts Here</p>
                    </div>
                  </div>
                  <!-- About Testimonial Slide End -->
                </div>
                <div class="about-testimonial-btn">
                  <div class="about-testimonial-button-prev"></div>
                  <div class="about-testimonial-button-next"></div>
                </div>
              </div>
            </div>
            <!-- About Testimonial Slider End -->
          </div>
        </div>
      </div>
      <!-- Page Testimonial Box End -->
    </div>
  </div>
  <!-- Page About Us Section End -->

  <!-- About Icon Box List Start -->
  <div class="about-icon-box-list bg-radius-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="about-icon-list-item wow fadeInUp">
            <div class="icon-box">
              <img
                src="images/about-icon-list-item-1.svg"
                alt="Orthopaedic Physiotherapy"
              />
            </div>
            <div class="about-icon-list-content">
              <h3>Orthopaedic Physiotherapy</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="0.25s">
            <div class="icon-box">
              <img
                src="images/about-icon-list-item-2.svg"
                alt="Neurological Physio"
              />
            </div>
            <div class="about-icon-list-content">
              <h3>Neurological Physio</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="0.5s">
            <div class="icon-box">
              <img
                src="images/about-icon-list-item-3.svg"
                alt="Paediatric Physio"
              />
            </div>
            <div class="about-icon-list-content">
              <h3>Paediatric Physio</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="0.75s">
            <div class="icon-box">
              <img
                src="images/about-icon-list-item-4.svg"
                alt="Sports Physiotherapy"
              />
            </div>
            <div class="about-icon-list-content">
              <h3>Sports Physiotherapy</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="1s">
            <div class="icon-box">
              <img
                src="images/about-icon-list-item-5.svg"
                alt="Manual Therapy"
              />
            </div>
            <div class="about-icon-list-content">
              <h3>Manual Therapy</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="1.25s">
            <div class="icon-box">
              <img
                src="images/about-icon-list-item-6.svg"
                alt="Incontinence Management"
              />
            </div>
            <div class="about-icon-list-content">
              <h3>Incontinence Management</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Icon Box List End -->

  <!-- Our Rehabilitation Section Start -->
  <div class="our-rehabilitation bg-radius-section">
    <div class="container">
      <div class="row section-row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3 class="wow fadeInUp">Our Specializations</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              Expert Care for a Range of Needs
            </h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="therapy-rehabilitation-item wow fadeInUp">
            <div class="therapy-rehabilitation-image">
              <a href="#">
                <figure>
                  <img
                    src="images/therapy-rehabilitation-img-1.jpg"
                    alt="Orthopaedic Physiotherapy"
                  />
                </figure>
              </a>
            </div>
            <div class="therapy-rehabilitation-header">
              <div class="therapy-rehabilitation-content">
                <div class="therapy-rehabilitation-btn">
                  <a href="#"
                    ><img src="images/arrow-long-white.svg" alt="" /></a
                  >
                </div>
                <div class="therapy-rehabilitation-title">
                  <h3>Orthopaedic Physiotherapy</h3>
                </div>
              </div>
              <div class="therapy-rehabilitation-dec">
                <p>
                  For joint, muscle, and bone-related pain, from chronic
                  backaches to post-surgery recovery.
                </p>
              </div>
            </div>
            <div class="therapy-rehabilitation-body">
              <div class="therapy-rehabilitation-list">
                <ul>
                  <li>Joint Mobilization</li>
                  <li>Strength & Mobility</li>
                  <li>Post-Operative Care</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div
            class="therapy-rehabilitation-item wow fadeInUp"
            data-wow-delay="0.25s"
          >
            <div class="therapy-rehabilitation-image">
              <a href="#">
                <figure>
                  <img
                    src="images/therapy-rehabilitation-img-2.jpg"
                    alt="Neurological Physiotherapy"
                  />
                </figure>
              </a>
            </div>
            <div class="therapy-rehabilitation-header">
              <div class="therapy-rehabilitation-content">
                <div class="therapy-rehabilitation-btn">
                  <a href="#"
                    ><img src="images/arrow-long-white.svg" alt="" /></a
                  >
                </div>
                <div class="therapy-rehabilitation-title">
                  <h3>Neurological Physiotherapy</h3>
                </div>
              </div>
              <div class="therapy-rehabilitation-dec">
                <p>
                  Specialized care to improve function for conditions affecting
                  the brain, nerves, and spinal cord.
                </p>
              </div>
            </div>
            <div class="therapy-rehabilitation-body">
              <div class="therapy-rehabilitation-list">
                <ul>
                  <li>Stroke Recovery</li>
                  <li>Balance & Gait Training</li>
                  <li>Movement Disorders</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div
            class="therapy-rehabilitation-item wow fadeInUp"
            data-wow-delay="0.5s"
          >
            <div class="therapy-rehabilitation-image">
              <a href="#">
                <figure>
                  <img
                    src="images/therapy-rehabilitation-img-3.jpg"
                    alt="Sports Physiotherapy"
                  />
                </figure>
              </a>
            </div>
            <div class="therapy-rehabilitation-header">
              <div class="therapy-rehabilitation-content">
                <div class="therapy-rehabilitation-btn">
                  <a href="#"
                    ><img src="images/arrow-long-white.svg" alt="" /></a
                  >
                </div>
                <div class="therapy-rehabilitation-title">
                  <h3>Sports Physiotherapy</h3>
                </div>
              </div>
              <div class="therapy-rehabilitation-dec">
                <p>
                  Helping athletes of all levels recover, prevent future
                  injuries, and enhance performance.
                </p>
              </div>
            </div>
            <div class="therapy-rehabilitation-body">
              <div class="therapy-rehabilitation-list">
                <ul>
                  <li>Injury Prevention</li>
                  <li>Performance Enhancement</li>
                  <li>Return-to-Sport Protocols</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Rehabilitation Section End -->

  <!-- Therapy Process Section Start -->
  <TherapyProcess />
  <!-- Therapy Process Section End -->

  <!-- Process Steps Section Start -->
  <div class="process-steps bg-radius-section">
    <div class="container">
      <div class="row section-row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3 class="wow fadeInUp">Our Process</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              Your Path to Pain-Free Movement
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.25s">
              We believe your recovery should be clear and supported from day
              one. Here’s what you can expect when you begin your treatment with
              us.
            </p>
          </div>
        </div>
      </div>

      <div class="row process-steps-line align-items-start">
        <div class="col-lg-3 col-md-3">
          <div class="process-step-box wow fadeInUp">
            <div class="process-step-no">
              <h2>01</h2>
            </div>
            <div class="process-step-content">
              <h3>Book Your Consultation</h3>
              <p>
                Your first step is to schedule a visit. Contact us, and we'll
                find a time that works for you.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="process-step-box wow fadeInUp" data-wow-delay="0.25s">
            <div class="process-step-no">
              <h2>02</h2>
            </div>
            <div class="process-step-content">
              <h3>Comprehensive Assessment</h3>
              <p>
                Dr. Gandhi will conduct a thorough evaluation, listen to your
                goals, and analyze your movement to find the true cause of your
                discomfort.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="process-step-box wow fadeInUp" data-wow-delay="0.5s">
            <div class="process-step-no">
              <h2>03</h2>
            </div>
            <div class="process-step-content">
              <h3>Personalized Treatment Plan</h3>
              <p>
                We create a unique recovery plan for you, using the right
                techniques to help you heal, build strength, and regain
                mobility.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="process-step-box wow fadeInUp" data-wow-delay="0.75s">
            <div class="process-step-no">
              <h2>04</h2>
            </div>
            <div class="process-step-content">
              <h3>Achieve Lasting Results</h3>
              <p>
                We work with you to not only resolve your pain but also to give
                you the tools and knowledge to prevent future injury.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Process Steps Section End -->

  <Footer />
</Layout>
