---
import TherapyProcess from "../components/about-comps/TherapyProcess.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Page Header Start -->
  <div class="page-header about-page-header bg-radius-section parallaxie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="text-anime-style-2" data-cursor="-opaque">About Us</h1>
            <nav class="wow fadeInUp">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">home</a>
                </li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Page About Us Section Start -->
  <div class="page-about-us bg-radius-section">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <!-- Page About Content Start -->
          <div class="page-about-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">about us</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                We Are The Best For Physiotherapy
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.25s">
                We understand that injuries and acute pain can happen
                unexpectedly. Our emergency physiotherapy services are designed
                to provide prompt and effective care to help you manage pain,
                prevent further injury, and start your recovery process as
                quickly as possible.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Page About Content Body Start -->
            <div class="page-about-content-body">
              <div class="row">
                <div class="col-lg-7 col-md-6">
                  <!-- Page About Content List Start -->
                  <div class="page-about-content-list">
                    <div
                      class="page-about-content-item wow fadeInUp"
                      data-wow-delay="0.5s"
                    >
                      <div class="icon-box">
                        <img src="images/icon-page-about-list-1.svg" alt="" />
                      </div>
                      <div class="page-about-item-content">
                        <p>team of highly skilled and experienced</p>
                      </div>
                    </div>

                    <div
                      class="page-about-content-item wow fadeInUp"
                      data-wow-delay="0.75s"
                    >
                      <div class="icon-box">
                        <img src="images/icon-page-about-list-2.svg" alt="" />
                      </div>
                      <div class="page-about-item-content">
                        <p>team is composed certified high trained</p>
                      </div>
                    </div>
                  </div>
                  <!-- Page About Content List End -->
                </div>

                <div class="col-lg-5 col-md-6">
                  <!-- Page About Content Box Start -->
                  <div
                    class="page-about-content-box wow fadeInUp"
                    data-wow-delay="0.5s"
                  >
                    <div class="page-about-box-title">
                      <h3>The Best in Physiotherapy Care</h3>
                    </div>
                    <div class="page-about-box-list">
                      <ul>
                        <li>Expert</li>
                        <li>Effective</li>
                        <li>Expert Team</li>
                        <li>Compassionate</li>
                      </ul>
                    </div>
                  </div>
                  <!-- Page About Content Box End -->
                </div>

                <div class="col-lg-12">
                  <div
                    class="page-about-body-content wow fadeInUp"
                    data-wow-delay="1s"
                  >
                    <p>
                      Our state-of-the-art facility, advanced therapies, and
                      patient-centered approach set us apart, making Physiocare
                      the best choice for achieving your health and wellness
                      goals.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Page About Content Body End -->

            <!-- Page About Content Btn Start -->
            <div
              class="page-about-content-btn wow fadeInUp"
              data-wow-delay="1.25s"
            >
              <a href="#" class="btn-default"><span>book appointment</span></a>
            </div>
            <!-- Page About Content Btn End -->
          </div>
          <!-- Page About Content End -->
        </div>

        <div class="col-lg-7">
          <!-- Page About Images Start -->
          <div class="page-about-image">
            <!-- Page About Image Start -->
            <div class="page-about-img-1">
              <figure>
                <img src="images/page-about-bg-image.jpg" alt="" />
              </figure>
            </div>
            <!-- Page About Image End -->

            <!-- Page About Image Start -->
            <div class="page-about-img-2">
              <figure>
                <img src="images/page-about-image.png" alt="" />
              </figure>
            </div>
            <!-- Page About Image End -->
          </div>
          <!-- Page About Image End -->
        </div>
      </div>

      <!-- Page Testimonial Box Start -->
      <div class="about-testimonial-box">
        <div class="row">
          <div class="col-lg-12">
            <!-- About Testimonial Slider Start -->
            <div class="about-testimonial-slider">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <!-- About Testimonial Slide Start -->
                  <div class="swiper-slide">
                    <div class="about-testimonial-item">
                      <p>Recover Faster with Expert Physiotherapy Care</p>
                    </div>
                  </div>
                  <!-- About Testimonial Slide End -->

                  <!-- About Testimonial Slide Start -->
                  <div class="swiper-slide">
                    <div class="about-testimonial-item">
                      <p>Expert Care for Your Journey to Recovery</p>
                    </div>
                  </div>
                  <!-- About Testimonial Slide End -->

                  <!-- About Testimonial Slide Start -->
                  <div class="swiper-slide">
                    <div class="about-testimonial-item">
                      <p>get ready Your Path to Wellness Starts Here</p>
                    </div>
                  </div>
                  <!-- About Testimonial Slide End -->
                </div>
                <div class="about-testimonial-btn">
                  <div class="about-testimonial-button-prev"></div>
                  <div class="about-testimonial-button-next"></div>
                </div>
              </div>
            </div>
            <!-- About Testimonial Slider End -->
          </div>
        </div>
      </div>
      <!-- Page Testimonial Box End -->
    </div>
  </div>
  <!-- Page About Us Section End -->

  <!-- About Icon Box List Start -->
  <div class="about-icon-box-list bg-radius-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-6">
          <!-- About Icon List Item Start -->
          <div class="about-icon-list-item wow fadeInUp">
            <div class="icon-box">
              <img src="images/about-icon-list-item-1.svg" alt="" />
            </div>
            <div class="about-icon-list-content">
              <h3>sports rehabilitation</h3>
            </div>
          </div>
          <!-- About Icon Lidt Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- About Icon Lidt Item Start -->
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="0.25s">
            <div class="icon-box">
              <img src="images/about-icon-list-item-2.svg" alt="" />
            </div>
            <div class="about-icon-list-content">
              <h3>backpain management</h3>
            </div>
          </div>
          <!-- About Icon Lidt Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- About Icon Lidt Item Start -->
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="0.5s">
            <div class="icon-box">
              <img src="images/about-icon-list-item-3.svg" alt="" />
            </div>
            <div class="about-icon-list-content">
              <h3>orthopedic rehabilitation</h3>
            </div>
          </div>
          <!-- About Icon Lidt Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- About Icon Lidt Item Start -->
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="0.75s">
            <div class="icon-box">
              <img src="images/about-icon-list-item-4.svg" alt="" />
            </div>
            <div class="about-icon-list-content">
              <h3>occupational therapy</h3>
            </div>
          </div>
          <!-- About Icon Lidt Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- About Icon Lidt Item Start -->
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="1s">
            <div class="icon-box">
              <img src="images/about-icon-list-item-5.svg" alt="" />
            </div>
            <div class="about-icon-list-content">
              <h3>home physiotherapy</h3>
            </div>
          </div>
          <!-- About Icon Lidt Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- About Icon Lidt Item Start -->
          <div class="about-icon-list-item wow fadeInUp" data-wow-delay="1.25s">
            <div class="icon-box">
              <img src="images/about-icon-list-item-6.svg" alt="" />
            </div>
            <div class="about-icon-list-content">
              <h3>pelvic rehabilitation</h3>
            </div>
          </div>
          <!-- About Icon Lidt Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- About Icon Box List End -->

  <!-- Our Rehabilitation Section Start -->
  <div class="our-rehabilitation bg-radius-section">
    <div class="container">
      <div class="row section-row">
        <div class="col-lg-12">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">rehabilitation</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              Basics Of Rehabilitation Therapy
            </h2>
          </div>
          <!-- Section Title End -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Therapy Rehabilitation Item Start -->
          <div class="therapy-rehabilitation-item wow fadeInUp">
            <!-- Therapy Rehabilitation Image Start -->
            <div class="therapy-rehabilitation-image">
              <a href="#">
                <figure>
                  <img src="images/therapy-rehabilitation-img-1.jpg" alt="" />
                </figure>
              </a>
            </div>
            <!-- Therapy Rehabilitation Image End -->

            <!-- Therapy Rehabilitation Header Start -->
            <div class="therapy-rehabilitation-header">
              <!-- Therapy Rehabilitation Content Start -->
              <div class="therapy-rehabilitation-content">
                <div class="therapy-rehabilitation-btn">
                  <a href="#"
                    ><img src="images/arrow-long-white.svg" alt="" /></a
                  >
                </div>
                <div class="therapy-rehabilitation-title">
                  <h3>individual therapy</h3>
                </div>
              </div>
              <!-- Therapy Rehabilitation Content End -->

              <!-- Therapy Rehabilitation Description Start -->
              <div class="therapy-rehabilitation-dec">
                <p>
                  individual therapy offers tailored treatment and focused
                  attention to.
                </p>
              </div>
              <!-- Therapy Rehabilitation Description End -->
            </div>
            <!-- Therapy Rehabilitation Header End -->

            <!-- Therapy Rehabilitation Body Start -->
            <div class="therapy-rehabilitation-body">
              <!-- Therapy Rehabilitation List Start -->
              <div class="therapy-rehabilitation-list">
                <ul>
                  <li>Personalized Treatment Plans</li>
                  <li>Specialized Techniques</li>
                  <li>Focused Attention</li>
                </ul>
              </div>
              <!-- Therapy Rehabilitation List End -->
            </div>
            <!-- Therapy Rehabilitation Body End -->
          </div>
          <!-- Therapy Rehabilitation Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Therapy Rehabilitation Item Start -->
          <div
            class="therapy-rehabilitation-item wow fadeInUp"
            data-wow-delay="0.25s"
          >
            <!-- Therapy Rehabilitation Image Start -->
            <div class="therapy-rehabilitation-image">
              <a href="#">
                <figure>
                  <img src="images/therapy-rehabilitation-img-2.jpg" alt="" />
                </figure>
              </a>
            </div>
            <!-- Therapy Rehabilitation Image End -->

            <!-- Therapy Rehabilitation Header Start -->
            <div class="therapy-rehabilitation-header">
              <!-- Therapy Rehabilitation Content Start -->
              <div class="therapy-rehabilitation-content">
                <div class="therapy-rehabilitation-btn">
                  <a href="#"
                    ><img src="images/arrow-long-white.svg" alt="" /></a
                  >
                </div>
                <div class="therapy-rehabilitation-title">
                  <h3>family therapy</h3>
                </div>
              </div>
              <!-- Therapy Rehabilitation Content End -->

              <!-- Therapy Rehabilitation Description Start -->
              <div class="therapy-rehabilitation-dec">
                <p>
                  Family therapy focuses on improving communication, resolving
                  conflicts.
                </p>
              </div>
              <!-- Therapy Rehabilitation Description End -->
            </div>
            <!-- Therapy Rehabilitation Header End -->

            <!-- Therapy Rehabilitation Body Start -->
            <div class="therapy-rehabilitation-body">
              <!-- Therapy Rehabilitation List Start -->
              <div class="therapy-rehabilitation-list">
                <ul>
                  <li>Common Issues Addressed</li>
                  <li>Purpose and Goals</li>
                  <li>Family Conflict</li>
                </ul>
              </div>
              <!-- Therapy Rehabilitation List End -->
            </div>
            <!-- Therapy Rehabilitation Body End -->
          </div>
          <!-- Therapy Rehabilitation Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Therapy Rehabilitation Item Start -->
          <div
            class="therapy-rehabilitation-item wow fadeInUp"
            data-wow-delay="0.5s"
          >
            <!-- Therapy Rehabilitation Image Start -->
            <div class="therapy-rehabilitation-image">
              <a href="#">
                <figure>
                  <img src="images/therapy-rehabilitation-img-3.jpg" alt="" />
                </figure>
              </a>
            </div>
            <!-- Therapy Rehabilitation Image End -->

            <!-- Therapy Rehabilitation Header Start -->
            <div class="therapy-rehabilitation-header">
              <!-- Therapy Rehabilitation Content Start -->
              <div class="therapy-rehabilitation-content">
                <div class="therapy-rehabilitation-btn">
                  <a href="#"
                    ><img src="images/arrow-long-white.svg" alt="" /></a
                  >
                </div>
                <div class="therapy-rehabilitation-title">
                  <h3>manual therapy</h3>
                </div>
              </div>
              <!-- Therapy Rehabilitation Content End -->

              <!-- Therapy Rehabilitation Description Start -->
              <div class="therapy-rehabilitation-dec">
                <p>
                  Manual therapy involves a range of hands-on techniques used by
                  therapists.
                </p>
              </div>
              <!-- Therapy Rehabilitation Description End -->
            </div>
            <!-- Therapy Rehabilitation Header End -->

            <!-- Therapy Rehabilitation Body Start -->
            <div class="therapy-rehabilitation-body">
              <!-- Therapy Rehabilitation List Start -->
              <div class="therapy-rehabilitation-list">
                <ul>
                  <li>Enhanced Muscle Function</li>
                  <li>Increased Range of Motion</li>
                  <li>Improved Circulation</li>
                </ul>
              </div>
              <!-- Therapy Rehabilitation List End -->
            </div>
            <!-- Therapy Rehabilitation Body End -->
          </div>
          <!-- Therapy Rehabilitation Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Rehabilitation Section End -->

  <!-- Therapy Process Section Start -->
  <TherapyProcess />
  <!-- Therapy Process Section End -->

  <!-- Our Video Section Start -->
  <div class="our-video bg-radius-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!-- Our Video Content Start -->
          <div class="our-video-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">video</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                Our Video
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.25s">
                Welcome to our video series on psychotherapy, where we delve
                into the benefits and processes of this essential form of mental
                health support. In this video, we will explore how psychotherapy
                can help individuals navigate their emotional and psychological
                challenges, promoting overall well-being and personal growth.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Section Btn Start -->
            <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
              <a href="#" class="btn-default"
                ><span>make an appointment</span></a
              >
            </div>
            <!-- Section Btn End -->
          </div>
          <!-- Our Video Content End -->
        </div>

        <div class="col-lg-6">
          <!-- Video Play Button Start -->
          <div class="video-play-button">
            <a
              href="https://www.youtube.com/watch?v=Y-x0efG1seA"
              class="popup-video"
              data-cursor-text="Play"
            >
              <img src="images/video-play-button.svg" alt="" />
            </a>
          </div>
          <!-- Video Play Button End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Video Section End -->

  <!-- Process Steps Section Start -->
  <div class="process-steps bg-radius-section">
    <div class="container">
      <div class="row section-row">
        <div class="col-lg-12">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">process</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              Easy Steps To Get Our Services
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.25s">
              we strive to make accessing our services as straightforward and
              convenient as possible. Here’s a simple guide to help you get
              started with our expert care.
            </p>
          </div>
          <!-- Section Title End -->
        </div>
      </div>

      <div class="row process-steps-line align-items-start">
        <div class="col-lg-3 col-md-3">
          <!-- Process Steps Box Start -->
          <div class="process-step-box wow fadeInUp">
            <!-- Process Steps Number Start -->
            <div class="process-step-no">
              <h2>01</h2>
            </div>
            <!-- Process Steps Number End -->

            <!-- Process Steps Content Start -->
            <div class="process-step-content">
              <h3>select services</h3>
              <p>
                services is the first step towards effective mental health
                support.
              </p>
            </div>
            <!-- Process Steps Content End -->
          </div>
          <!-- Process Steps Box End -->
        </div>

        <div class="col-lg-3 col-md-3">
          <!-- Process Steps Box Start -->
          <div class="process-step-box wow fadeInUp" data-wow-delay="0.25s">
            <!-- Process Steps Number Start -->
            <div class="process-step-no">
              <h2>02</h2>
            </div>
            <!-- Process Steps Number End -->

            <!-- Process Steps Content Start -->
            <div class="process-step-content">
              <h3>make appointment</h3>
              <p>
                Follow these easy steps to schedule your appointment at
                Physiocare.
              </p>
            </div>
            <!-- Process Steps Content End -->
          </div>
          <!-- Process Steps Box End -->
        </div>

        <div class="col-lg-3 col-md-3">
          <!-- Process Steps Box Start -->
          <div class="process-step-box wow fadeInUp" data-wow-delay="0.5s">
            <!-- Process Steps Number Start -->
            <div class="process-step-no">
              <h2>03</h2>
            </div>
            <!-- Process Steps Number End -->

            <!-- Process Steps Content Start -->
            <div class="process-step-content">
              <h3>completed payment</h3>
              <p>
                You will receive a payment confirmation of your appointment.
              </p>
            </div>
            <!-- Process Steps Content End -->
          </div>
          <!-- Process Steps Box End -->
        </div>

        <div class="col-lg-3 col-md-3">
          <!-- Process Steps Box Start -->
          <div class="process-step-box wow fadeInUp" data-wow-delay="0.75s">
            <!-- Process Steps Number Start -->
            <div class="process-step-no">
              <h2>04</h2>
            </div>
            <!-- Process Steps Number End -->

            <!-- Process Steps Content Start -->
            <div class="process-step-content">
              <h3>enjoy your therapy</h3>
              <p>Your journey is an important step towards better health.</p>
            </div>
            <!-- Process Steps Content End -->
          </div>
          <!-- Process Steps Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Process Steps Section End -->

  <Footer />
</Layout>
