---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Page Header Start -->
  <div class="page-header service-page-header bg-radius-section parallaxie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="text-anime-style-2" data-cursor="-opaque">Services</h1>
            <nav class="wow fadeInUp">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">home</a></li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Service Process Section Start -->
  <div class="service-process bg-radius-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 order-lg-1 order-md-2 order-3">
          <!-- Service Process List Start -->
          <div class="service-process-list">
            <!-- Service Process List Item Start -->
            <div class="service-process-list-item wow fadeInUp">
              <!-- Icon Box Start -->
              <div class="icon-box">
                <img src="images/icon-service-list-dot.svg" alt="" />
              </div>
              <!-- Icon Box End -->

              <!-- Service Process Content Start -->
              <div class="service-process-content">
                <div class="service-process-content-body">
                  <div class="service-process-title">
                    <h3>Initial Contact</h3>
                  </div>
                  <div class="service-process-btn">
                    <a href="#"
                      ><img src="images/arrow-long-white.svg" alt="" /></a
                    >
                  </div>
                </div>

                <div class="service-process-footer">
                  <p>
                    contact clinic via phone, email, or online booking systems.
                  </p>
                </div>
              </div>
              <!-- Service Process Content End -->
            </div>
            <!-- Service Process List Item End -->

            <!-- Service Process List Item Start -->
            <div
              class="service-process-list-item wow fadeInUp"
              data-wow-delay="0.25s"
            >
              <!-- Icon Box Start -->
              <div class="icon-box">
                <img src="images/icon-service-list-dot.svg" alt="" />
              </div>
              <!-- Icon Box End -->

              <!-- Service Process Content Start -->
              <div class="service-process-content">
                <div class="service-process-content-body">
                  <div class="service-process-title">
                    <h3>treatment planning</h3>
                  </div>
                  <div class="service-process-btn">
                    <a href="#"
                      ><img src="images/arrow-long-white.svg" alt="" /></a
                    >
                  </div>
                </div>

                <div class="service-process-footer">
                  <p>
                    treatment plan is developed, outlining the methods and
                    techniques.
                  </p>
                </div>
              </div>
              <!-- Service Process Content End -->
            </div>
            <!-- Service Process List Item End -->

            <!-- Service Process List Item Start -->
            <div
              class="service-process-list-item wow fadeInUp"
              data-wow-delay="0.5s"
            >
              <!-- Icon Box Start -->
              <div class="icon-box">
                <img src="images/icon-service-list-dot.svg" alt="" />
              </div>
              <!-- Icon Box End -->

              <!-- Service Process Content Start -->
              <div class="service-process-content">
                <div class="service-process-content-body">
                  <div class="service-process-title">
                    <h3>discharge and maintenance</h3>
                  </div>
                  <div class="service-process-btn">
                    <a href="#"
                      ><img src="images/arrow-long-white.svg" alt="" /></a
                    >
                  </div>
                </div>

                <div class="service-process-footer">
                  <p>
                    treatment goals are achieved, the patient is discharged from
                    regular therapy sessions.
                  </p>
                </div>
              </div>
              <!-- Service Process Content End -->
            </div>
            <!-- Service Process List Item End -->
          </div>
          <!-- Service Process List End -->
        </div>

        <div class="col-lg-4 order-lg-2 order-md-3 order-2">
          <!-- Service Process Image Start -->
          <div class="service-process-img">
            <figure class="image-anime reveal">
              <img src="images/service-process-image.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Process Image End -->
        </div>

        <div class="col-lg-4 col-md-6 order-lg-3 order-md-1 order-1">
          <!-- Service Process Box Content Start -->
          <div class="service-process-box-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">process</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                The Complete Service Process
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.25s">
                We understand that injuries and acute pain can happen
                unexpectedly. Our emergency physiotherapy services are designed
                to provide prompt and effective care to help you manage.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Section Btn Start -->
            <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
              <a href="#" class="btn-default"
                ><span>make an appointment</span></a
              >
            </div>
            <!-- Section Btn End -->
          </div>
          <!-- Service Process Box Content End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Service Process Section End -->

  <!-- Page Services Section Start -->
  <div class="page-services bg-radius-section">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="col-lg-12">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">rehabilitation</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">Services</h2>
          </div>
          <!-- Section Title End -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-1.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Item Icon Start -->
            <div class="icon-box">
              <img src="images/icon-service-1.svg" alt="" />
            </div>
            <!-- Service Item Icon ENd -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>manual therapy</h3>
                <p>
                  specialized form of physical therapy delivered through
                  hands-on techniques.
                </p>
              </div>
              <!-- Service Content End -->

              <!-- Service Btn Start -->
              <div class="service-btn">
                <a href="#"
                  ><img src="images/arrow-readmore-btn.svg" alt="" /></a
                >
              </div>
              <!-- Service Btn End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-2.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Item Icon Start -->
            <div class="icon-box">
              <img src="images/icon-service-2.svg" alt="" />
            </div>
            <!-- Service Item Icon ENd -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>chronic pain</h3>
                <p>
                  refers to persistent pain even after the underlying injury or
                  illness has healed.
                </p>
              </div>
              <!-- Service Content End -->

              <!-- Service Btn Start -->
              <div class="service-btn">
                <a href="#"
                  ><img src="images/arrow-readmore-btn.svg" alt="" /></a
                >
              </div>
              <!-- Service Btn End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-3.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Item Icon Start -->
            <div class="icon-box">
              <img src="images/icon-service-3.svg" alt="" />
            </div>
            <!-- Service Item Icon ENd -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>hand therapy</h3>
                <p>
                  specialized area of physiotherapy that focuses on hand, wrist,
                  and forearm.
                </p>
              </div>
              <!-- Service Content End -->

              <!-- Service Btn Start -->
              <div class="service-btn">
                <a href="#"
                  ><img src="images/arrow-readmore-btn.svg" alt="" /></a
                >
              </div>
              <!-- Service Btn End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="0.75s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-4.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Item Icon Start -->
            <div class="icon-box">
              <img src="images/icon-service-4.svg" alt="" />
            </div>
            <!-- Service Item Icon ENd -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>sports therapy</h3>
                <p>
                  It is designed to help athletes and active individuals recover
                  quickly improve injuries.
                </p>
              </div>
              <!-- Service Content End -->

              <!-- Service Btn Start -->
              <div class="service-btn">
                <a href="#"
                  ><img src="images/arrow-readmore-btn.svg" alt="" /></a
                >
              </div>
              <!-- Service Btn End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="1s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-5.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Item Icon Start -->
            <div class="icon-box">
              <img src="images/icon-service-5.svg" alt="" />
            </div>
            <!-- Service Item Icon ENd -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>cupping therapy</h3>
                <p>
                  ancient healing practice where cups are applied to the skin to
                  create suction.
                </p>
              </div>
              <!-- Service Content End -->

              <!-- Service Btn Start -->
              <div class="service-btn">
                <a href="#"
                  ><img src="images/arrow-readmore-btn.svg" alt="" /></a
                >
              </div>
              <!-- Service Btn End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-6.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Item Icon Start -->
            <div class="icon-box">
              <img src="images/icon-service-6.svg" alt="" />
            </div>
            <!-- Service Item Icon ENd -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>laser therapy</h3>
                <p>
                  non-invasive treatment that uses light energy to promote
                  healing processes.
                </p>
              </div>
              <!-- Service Content End -->

              <!-- Service Btn Start -->
              <div class="service-btn">
                <a href="#"
                  ><img src="images/arrow-readmore-btn.svg" alt="" /></a
                >
              </div>
              <!-- Service Btn End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Services Section End -->

  <!-- Our Testimonials Section Start -->
  <div class="our-testimonial bg-radius-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="testimonial-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">client testimonials</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                Our Clients Reviews
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.25s">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>
            <!-- Section Title End -->
          </div>
        </div>

        <div class="col-lg-7">
          <!-- Testimonial Slider Start -->
          <div class="testimonial-slider">
            <div class="swiper">
              <div class="swiper-wrapper" data-cursor-text="Drag">
                <!-- Testimonial Slide Start -->
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-header">
                      <div class="testimonial-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <div class="testimonial-content">
                        <p>
                          After my knee surgery, the team at Physiocare helped
                          me regain my mobility. The personalized treatment plan
                          was incredible.
                        </p>
                      </div>
                    </div>
                    <div class="testimonial-body">
                      <div class="author-image">
                        <figure class="image-anime">
                          <img src="images/author-1.jpg" alt="" />
                        </figure>
                      </div>
                      <div class="author-content">
                        <h3>chris w.</h3>
                        <p>professional athlete</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Testimonial Slide End -->

                <!-- Testimonial Slide Start -->
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-header">
                      <div class="testimonial-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <div class="testimonial-content">
                        <p>
                          I've been to several physio clinics, but none compare
                          to Physiocare. Their staff is knowledgeable,
                          professional, and genuinely care.
                        </p>
                      </div>
                    </div>
                    <div class="testimonial-body">
                      <div class="author-image">
                        <figure class="image-anime">
                          <img src="images/author-2.jpg" alt="" />
                        </figure>
                      </div>
                      <div class="author-content">
                        <h3>mark s.</h3>
                        <p>retired teacher</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Testimonial Slide End -->

                <!-- Testimonial Slide Start -->
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-header">
                      <div class="testimonial-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <div class="testimonial-content">
                        <p>
                          The sports injury rehab program at Physiocare has been
                          a game-changer for me. After a bad ankle sprain, I was
                          back to playing soccer.
                        </p>
                      </div>
                    </div>
                    <div class="testimonial-body">
                      <div class="author-image">
                        <figure class="image-anime">
                          <img src="images/author-3.jpg" alt="" />
                        </figure>
                      </div>
                      <div class="author-content">
                        <h3>david a.</h3>
                        <p>construction worker</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Testimonial Slide End -->

                <!-- Testimonial Slide Start -->
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-header">
                      <div class="testimonial-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                      <div class="testimonial-content">
                        <p>
                          The therapists here are amazing! I was dealing with
                          chronic back pain, and after just a few sessions, the
                          difference was unbelievable.
                        </p>
                      </div>
                    </div>
                    <div class="testimonial-body">
                      <div class="author-image">
                        <figure class="image-anime">
                          <img src="images/author-4.jpg" alt="" />
                        </figure>
                      </div>
                      <div class="author-content">
                        <h3>tom h.</h3>
                        <p>marathon runner</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Testimonial Slide End -->
              </div>
              <div class="testimonial-btn">
                <div class="testimonial-button-prev"></div>
                <div class="testimonial-button-next"></div>
              </div>
            </div>
          </div>
          <!-- Testimonial Slider End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Our Testimonials Section End -->

  <!-- Care Rehabilitation Section Start -->
  <div class="care-rehabilitation bg-radius-section">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="col-lg-5">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">rehabilitation</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              Excellence In Care And Rehabilitation
            </h2>
          </div>
          <!-- Section Title End -->
        </div>

        <div class="col-lg-7">
          <!-- Section Btn Start -->
          <div class="section-btn wow fadeInUp" data-wow-delay="0.25s">
            <a href="#" class="btn-default"><span>make an appointment</span></a>
          </div>
          <!-- Section Btn End -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-4 col-6">
          <!-- Rehab Benefits Item Start -->
          <div class="rehab-benefits-item wow fadeInUp">
            <div class="icon-box">
              <img src="images/icon-rehab-benefits-1.svg" alt="" />
            </div>
            <div class="rehab-benefits-content">
              <h3>experienced team</h3>
            </div>
          </div>
          <!-- Rehab Benefits Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- Rehab Benefits Item Start -->
          <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="0.5s">
            <div class="icon-box">
              <img src="images/icon-rehab-benefits-2.svg" alt="" />
            </div>
            <div class="rehab-benefits-content">
              <h3>advanced technology</h3>
            </div>
          </div>
          <!-- Rehab Benefits Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- Rehab Benefits Item Start -->
          <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="0.75s">
            <div class="icon-box">
              <img src="images/icon-rehab-benefits-3.svg" alt="" />
            </div>
            <div class="rehab-benefits-content">
              <h3>personalized treatment</h3>
            </div>
          </div>
          <!-- Rehab Benefits Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- Rehab Benefits Item Start -->
          <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="1s">
            <div class="icon-box">
              <img src="images/icon-rehab-benefits-4.svg" alt="" />
            </div>
            <div class="rehab-benefits-content">
              <h3>convenient and accessible</h3>
            </div>
          </div>
          <!-- Rehab Benefits Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- Rehab Benefits Item Start -->
          <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="1.25s">
            <div class="icon-box">
              <img src="images/icon-rehab-benefits-5.svg" alt="" />
            </div>
            <div class="rehab-benefits-content">
              <h3>expertise and experience</h3>
            </div>
          </div>
          <!-- Rehab Benefits Item End -->
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <!-- Rehab Benefits Item Start -->
          <div class="rehab-benefits-item wow fadeInUp" data-wow-delay="1.5s">
            <div class="icon-box">
              <img src="images/icon-rehab-benefits-6.svg" alt="" />
            </div>
            <div class="rehab-benefits-content">
              <h3>community involvement</h3>
            </div>
          </div>
          <!-- Rehab Benefits Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Care Rehabilitation Section End -->

  <Footer />
</Layout>
