---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Page Header Start -->
  <div class="page-header service-page-header bg-radius-section parallaxie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Page Header Box Start -->
          <div class="page-header-box">
            <h1 class="text-anime-style-2" data-cursor="-opaque">Services</h1>
            <nav class="wow fadeInUp">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">home</a></li>
              </ol>
            </nav>
          </div>
          <!-- Page Header Box End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Service Process Section Start -->
  <div class="service-process bg-radius-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 order-lg-1 order-md-2 order-3">
          <!-- Service Process List Start -->
          <div class="service-process-list">
            <!-- Service Process List Item Start -->
            <div class="service-process-list-item wow fadeInUp">
              <!-- Icon Box Start -->
              <div class="icon-box">
                <img src="images/icon-service-list-dot.svg" alt="" />
              </div>
              <!-- Icon Box End -->

              <!-- Service Process Content Start -->
              <div class="service-process-content">
                <div class="service-process-content-body">
                  <div class="service-process-title">
                    <h3>Initial Contact</h3>
                  </div>
                  <div class="service-process-btn">
                    <a href="#"
                      ><img src="images/arrow-long-white.svg" alt="" /></a
                    >
                  </div>
                </div>

                <div class="service-process-footer">
                  <p>
                    contact clinic via phone, email, or online booking systems.
                  </p>
                </div>
              </div>
              <!-- Service Process Content End -->
            </div>
            <!-- Service Process List Item End -->

            <!-- Service Process List Item Start -->
            <div
              class="service-process-list-item wow fadeInUp"
              data-wow-delay="0.25s"
            >
              <!-- Icon Box Start -->
              <div class="icon-box">
                <img src="images/icon-service-list-dot.svg" alt="" />
              </div>
              <!-- Icon Box End -->

              <!-- Service Process Content Start -->
              <div class="service-process-content">
                <div class="service-process-content-body">
                  <div class="service-process-title">
                    <h3>treatment planning</h3>
                  </div>
                  <div class="service-process-btn">
                    <a href="#"
                      ><img src="images/arrow-long-white.svg" alt="" /></a
                    >
                  </div>
                </div>

                <div class="service-process-footer">
                  <p>
                    treatment plan is developed, outlining the methods and
                    techniques.
                  </p>
                </div>
              </div>
              <!-- Service Process Content End -->
            </div>
            <!-- Service Process List Item End -->

            <!-- Service Process List Item Start -->
            <div
              class="service-process-list-item wow fadeInUp"
              data-wow-delay="0.5s"
            >
              <!-- Icon Box Start -->
              <div class="icon-box">
                <img src="images/icon-service-list-dot.svg" alt="" />
              </div>
              <!-- Icon Box End -->

              <!-- Service Process Content Start -->
              <div class="service-process-content">
                <div class="service-process-content-body">
                  <div class="service-process-title">
                    <h3>discharge and maintenance</h3>
                  </div>
                  <div class="service-process-btn">
                    <a href="#"
                      ><img src="images/arrow-long-white.svg" alt="" /></a
                    >
                  </div>
                </div>

                <div class="service-process-footer">
                  <p>
                    treatment goals are achieved, the patient is discharged from
                    regular therapy sessions.
                  </p>
                </div>
              </div>
              <!-- Service Process Content End -->
            </div>
            <!-- Service Process List Item End -->
          </div>
          <!-- Service Process List End -->
        </div>

        <div class="col-lg-4 order-lg-2 order-md-3 order-2">
          <!-- Service Process Image Start -->
          <div class="service-process-img">
            <figure class="image-anime reveal">
              <img src="images/service-process-image.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Process Image End -->
        </div>

        <div class="col-lg-4 col-md-6 order-lg-3 order-md-1 order-1">
          <!-- Service Process Box Content Start -->
          <div class="service-process-box-content">
            <!-- Section Title Start -->
            <div class="section-title">
              <h3 class="wow fadeInUp">process</h3>
              <h2 class="text-anime-style-3" data-cursor="-opaque">
                The Complete Service Process
              </h2>
              <p class="wow fadeInUp" data-wow-delay="0.25s">
                We understand that injuries and acute pain can happen
                unexpectedly. Our emergency physiotherapy services are designed
                to provide prompt and effective care to help you manage.
              </p>
            </div>
            <!-- Section Title End -->

            <!-- Section Btn Start -->
            <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
              <a href="#" class="btn-default"
                ><span>make an appointment</span></a
              >
            </div>
            <!-- Section Btn End -->
          </div>
          <!-- Service Process Box Content End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Service Process Section End -->

  <!-- Page Services Section Start -->
  <div class="page-services bg-radius-section">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="col-lg-12">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">rehabilitation</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">Services</h2>
          </div>
          <!-- Section Title End -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-1.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Orthopaedic Physiotherapy</h3>
              </div>
              <!-- Service Content End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-2.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Neurological Physiotherapy</h3>
              </div>
              <!-- Service Content End -->

              <!-- Service Btn End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-3.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Pediatric Physiotherapy</h3>
              </div>
              <!-- Service Content End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="0.75s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-4.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Sports Physiotherapy</h3>
              </div>
              <!-- Service Content End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="1s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-5.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Manual Physiotherapy</h3>
              </div>
              <!-- Service Content End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-7.png" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Speech & Swallowing difficulties (Dysphasia)</h3>
              </div>
              <!-- Service Content End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-8.png" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Urinary Incontinence Management</h3>
              </div>
              <!-- Service Content End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-4 col-md-6">
          <!-- Service Item Start -->
          <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
            <!-- Service Item Image Start -->
            <div class="service-item-image">
              <figure>
                <img src="images/service-img-9.jpg" alt="" />
              </figure>
            </div>
            <!-- Service Item Image End -->

            <!-- Service Body Start -->
            <div class="service-body">
              <!-- Service Content Start -->
              <div class="service-content">
                <h3>Weight Loss Programs</h3>
              </div>
              <!-- Service Content End -->
            </div>
            <!-- Service Body End -->
          </div>
          <!-- Service Item End -->
        </div>

        <div class="col-lg-12">
          <!-- More Service Btn Start -->
          <div class="more-service-btn wow fadeInUp" data-wow-delay="1.5s">
            <a href="/services"
              >Find Out More About our Services<img
                src="images/arrow-long-white.svg"
                alt=""
              /></a
            >
          </div>
          <!-- More Service Btn End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Page Services Section End -->

  <Footer />
</Layout>
