<div class="about-us bg-radius-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">about us</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              We are the best for physiotherapy
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.25s">
              We understand that injuries and acute pain can happen
              unexpectedly. Our emergency physiotherapy services are designed to
              provide prompt and effective care to help you manage pain, prevent
              further injury, and start your recovery process as quickly as
              possible.
            </p>
          </div>
          <!-- Section Title End -->

          <!-- About Content Body Start -->
          <div class="about-content-body">
            <div class="row align-items-center">
              <div class="col-md-6">
                <!-- About Content List Start -->
                <div class="about-content-list">
                  <!-- About List Item Start -->
                  <div
                    class="about-list-item wow fadeInUp"
                    data-wow-delay="0.5s"
                  >
                    <div class="icon-box">
                      <img src="images/icon-about-list-1.svg" alt="" />
                    </div>
                    <div class="about-list-content">
                      <p>expert therapist</p>
                    </div>
                  </div>
                  <!-- About List Item End -->

                  <!-- About List Item Start -->
                  <div
                    class="about-list-item wow fadeInUp"
                    data-wow-delay="0.75s"
                  >
                    <div class="icon-box">
                      <img src="images/icon-about-list-2.svg" alt="" />
                    </div>
                    <div class="about-list-content">
                      <p>advanced techniques</p>
                    </div>
                  </div>
                  <!-- About List Item End -->

                  <!-- About List Item Start -->
                  <div class="about-list-item wow fadeInUp" data-wow-delay="1s">
                    <div class="icon-box">
                      <img src="images/icon-about-list-3.svg" alt="" />
                    </div>
                    <div class="about-list-content">
                      <p>personalized care</p>
                    </div>
                  </div>
                  <!-- About List Item End -->
                </div>
                <!-- About Content List End -->
              </div>

              <div class="col-md-6">
                <div
                  class="about-trusted-customer wow fadeInUp"
                  data-wow-delay="0.5s"
                >
                  <div class="trusted-customer-image">
                    <img src="images/about-trusted-customer-img.png" alt="" />
                  </div>
                  <div class="trusted-customer-rating">
                    <ul>
                      <li>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="trusted-customer-content">
                    <p>trusted by <span class="counter">4</span>k+ customers</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- About Content Body End -->

          <!-- About Content Footer Start -->
          <div class="about-content-footer wow fadeInUp" data-wow-delay="1.25s">
            <a href="#" class="btn-default"><span>book appointment</span></a>
          </div>
          <!-- About Content Footer End -->
        </div>
      </div>

      <div class="col-lg-6">
        <!-- About Us Images Start -->
        <div class="about-us-images">
          <div class="about-image img-box-1">
            <figure class="image-anime">
              <img src="images/about-us-img-1.jpg" alt="" />
            </figure>
          </div>

          <div class="about-image img-box-2">
            <figure class="image-anime">
              <img src="images/about-us-img-2.jpg" alt="" />
            </figure>
          </div>

          <div class="about-image img-box-3">
            <figure class="image-anime">
              <img src="images/about-us-img-3.jpg" alt="" />
            </figure>
          </div>

          <div class="about-image img-box-4">
            <figure class="image-anime">
              <img src="images/about-us-img-4.jpg" alt="" />
            </figure>
          </div>

          <div class="about-circle-logo">
            <img src="images/about-circle-logo.svg" alt="" />
          </div>
        </div>
        <!-- About Us Images End -->
      </div>
    </div>
  </div>
</div>
