<div class="our-benefits bg-radius-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <!-- Benefits Item Start -->
        <div class="benefits-item wow fadeInUp">
          <div class="icon-box">
            <img src="images/icon-benefits-1.svg" alt="" />
          </div>
          <div class="benefits-content">
            <h3>expert therapists</h3>
            <p>Easy treatment with expert</p>
          </div>
        </div>
        <!-- Benefits Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Benefits Item Start -->
        <div class="benefits-item wow fadeInUp" data-wow-delay="0.25s">
          <div class="icon-box">
            <img src="images/icon-benefits-2.svg" alt="" />
          </div>
          <div class="benefits-content">
            <h3>Emergency Service</h3>
            <p>24/7 Emergency Available</p>
          </div>
        </div>
        <!-- Benefits Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Benefits Item Start -->
        <div class="benefits-item wow fadeInUp" data-wow-delay="0.5s">
          <div class="icon-box">
            <img src="images/icon-benefits-3.svg" alt="" />
          </div>
          <div class="benefits-content">
            <h3>free consultant</h3>
            <p>Advice with Experts</p>
          </div>
        </div>
        <!-- Benefits Item End -->
      </div>
    </div>
  </div>
</div>
