<div class="our-blog bg-radius-section">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-8">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">news & blog</h3>
          <h2 class="text-anime-style-3" data-cursor="-opaque">
            Our Latest Insights and updates
          </h2>
        </div>
        <!-- Section Title End -->
      </div>

      <div class="col-lg-4">
        <div class="section-btn wow fadeInUp">
          <a href="#" class="btn-default"><span>view all blog</span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <!-- Blog Item Start -->
        <div class="blog-item wow fadeInUp">
          <!-- Post Featured Image Start-->
          <div class="post-featured-image">
            <figure>
              <a href="#" class="image-anime" data-cursor-text="View">
                <img src="images/post-1.jpg" alt="" />
              </a>
            </figure>
            <div class="post-tags">
              <a href="#">manual therapy</a>
            </div>
          </div>
          <!-- Post Featured Image End -->

          <!-- post Item Content Start -->
          <div class="post-item-content">
            <!-- Article Meta Start -->
            <div class="article-meta">
              <ul>
                <li><a href="#">september 15, 2024</a></li>
              </ul>
            </div>
            <!-- Article Meta End -->

            <!-- post Item Body Start -->
            <div class="post-item-body">
              <h2>
                <a href="#"
                  >Top 10 Benefits of Physiotherapy for Injury Recovery</a>
              </h2>
            </div>
            <!-- Post Item Body End-->

            <!-- Post Item Footer Start-->
            <div class="post-item-footer">
              <a href="#" class="readmore-btn">read more</a>
            </div>
            <!-- Post Item Footer End-->
          </div>
          <!-- post Item Content End -->
        </div>
        <!-- Blog Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Blog Item Start -->
        <div class="blog-item wow fadeInUp" data-wow-delay="0.25s">
          <!-- Post Featured Image Start-->
          <div class="post-featured-image">
            <figure>
              <a href="#" class="image-anime" data-cursor-text="View">
                <img src="images/post-2.jpg" alt="" />
              </a>
            </figure>
            <div class="post-tags">
              <a href="#">chronic pain</a>
            </div>
          </div>
          <!-- Post Featured Image End -->

          <!-- post Item Content Start -->
          <div class="post-item-content">
            <!-- Article Meta Start -->
            <div class="article-meta">
              <ul>
                <li><a href="#">september 12, 2024</a></li>
              </ul>
            </div>
            <!-- Article Meta End -->

            <!-- post Item Body Start -->
            <div class="post-item-body">
              <h2>
                <a href="#"
                  >How to Speed Up Your Post-Surgery Recovery with Physiocare</a>
              </h2>
            </div>
            <!-- Post Item Body End-->

            <!-- Post Item Footer Start-->
            <div class="post-item-footer">
              <a href="#" class="readmore-btn">read more</a>
            </div>
            <!-- Post Item Footer End-->
          </div>
          <!-- post Item Content End -->
        </div>
        <!-- Blog Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Blog Item Start -->
        <div class="blog-item wow fadeInUp" data-wow-delay="0.5s">
          <!-- Post Featured Image Start-->
          <div class="post-featured-image">
            <figure>
              <a href="#" class="image-anime" data-cursor-text="View">
                <img src="images/post-3.jpg" alt="" />
              </a>
            </figure>
            <div class="post-tags">
              <a href="#">hand therapy</a>
            </div>
          </div>
          <!-- Post Featured Image End -->

          <!-- post Item Content Start -->
          <div class="post-item-content">
            <!-- Article Meta Start -->
            <div class="article-meta">
              <ul>
                <li><a href="#">september 9, 2024</a></li>
              </ul>
            </div>
            <!-- Article Meta End -->

            <!-- post Item Body Start -->
            <div class="post-item-body">
              <h2>
                <a href="#"
                  >The Role of Physiotherapy in Managing Chronic Pain</a>
              </h2>
            </div>
            <!-- Post Item Body End-->

            <!-- Post Item Footer Start-->
            <div class="post-item-footer">
              <a href="#" class="readmore-btn">read more</a>
            </div>
            <!-- Post Item Footer End-->
          </div>
          <!-- post Item Content End -->
        </div>
        <!-- Blog Item End -->
      </div>
    </div>
  </div>
</div>
