<div class="our-blog bg-radius-section">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-8">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">news & blog</h3>
          <h2 class="text-anime-style-3" data-cursor="-opaque">
            Our Latest Insights and updates
          </h2>
        </div>
        <!-- Section Title End -->
      </div>

      <div class="col-lg-4">
        <div class="section-btn wow fadeInUp">
          <a href="#" class="btn-default"><span>view all blog</span></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="blog-item wow fadeInUp">
          <div class="post-featured-image">
            <figure>
              <a href="#" class="image-anime" data-cursor-text="View">
                <img
                  src="images/post-1.jpg"
                  alt="Sports Physiotherapy Ahmedabad"
                />
              </a>
            </figure>
            <div class="post-tags">
              <a href="#">Sports Physiotherapy</a>
            </div>
          </div>
          <div class="post-item-content">
            <div class="article-meta">
              <ul>
                <li><a href="#">October 30, 2025</a></li>
              </ul>
            </div>
            <div class="post-item-body">
              <h2>
                <a href="#"
                  >Recovering from Sports Injuries: Dr. Heli's Expert Guide for
                  Athletes</a
                >
              </h2>
            </div>
            <div class="post-item-footer">
              <a href="#" class="readmore-btn">read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="blog-item wow fadeInUp" data-wow-delay="0.25s">
          <div class="post-featured-image">
            <figure>
              <a href="#" class="image-anime" data-cursor-text="View">
                <img src="images/post-2.jpg" alt="Neurological Physiotherapy" />
              </a>
            </figure>
            <div class="post-tags">
              <a href="#">Neurological Physio</a>
            </div>
          </div>
          <div class="post-item-content">
            <div class="article-meta">
              <ul>
                <li><a href="#">October 24, 2025</a></li>
              </ul>
            </div>
            <div class="post-item-body">
              <h2>
                <a href="#"
                  >Rebuilding Pathways: The Role of Neurological Physio in
                  Recovery</a
                >
              </h2>
            </div>
            <div class="post-item-footer">
              <a href="#" class="readmore-btn">read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="blog-item wow fadeInUp" data-wow-delay="0.5s">
          <div class="post-featured-image">
            <figure>
              <a href="#" class="image-anime" data-cursor-text="View">
                <img src="images/post-3.jpg" alt="Dysphasia Therapy" />
              </a>
            </figure>
            <div class="post-tags">
              <a href="#">Dysphasia Therapy</a>
            </div>
          </div>
          <div class="post-item-content">
            <div class="article-meta">
              <ul>
                <li><a href="#">October 18, 2025</a></li>
              </ul>
            </div>
            <div class="post-item-body">
              <h2>
                <a href="#"
                  >Understanding Dysphasia: The Surprising Role of Physio in
                  Swallowing</a
                >
              </h2>
            </div>
            <div class="post-item-footer">
              <a href="#" class="readmore-btn">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
