<footer class="main-footer bg-radius-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- About Footer Start -->
        <div class="about-footer">
          <div class="row">
            <div class="col-lg-4">
              <!-- Footer Logo Start -->
              <div class="footer-logo">
                <img src="images/main-logo.png" alt="" />
              </div>
              <!-- Footer Logo End -->
            </div>

            <div class="col-lg-8">
              <!-- About Footer Content Start -->
              <div class="about-footer-content">
                <h3>Dedicated Care for Lasting Results</h3>
                <p>
                  Pain and injury can disrupt your life. At The Physio Manifest,
                  we don't just treat the symptoms; we find the root cause. Our
                  holistic approach, led by Dr. Heli Gandhi, ensures you receive
                  expert, personalized care for a complete and lasting recovery.
                </p>
              </div>
              <!-- About Footer Content End -->
            </div>
          </div>
        </div>
        <!-- About Footer End -->

        <!-- About Footer List Start -->
        <div class="about-footer-list">
          <!-- Footer Quick Links Start -->
          <div class="footer-links quick-links">
            <h3>quick links</h3>
            <ul>
              <li><a href="/about">about us</a></li>
              <li><a href="/services">services</a></li>
              <li><a href="/contact">contact us</a></li>
            </ul>
          </div>
          <!-- Footer Quick Links End -->

          <!-- Footer Quick Links Start -->
          <div class="footer-links service-links">
            <h3>more services</h3>
            <ul>
              <li><a href="#">manual therapy</a></li>
              <li><a href="#">chronic pain</a></li>
              <li><a href="#">hand therapy</a></li>
            </ul>
          </div>
          <!-- Footer Quick Links End -->

          <!-- Footer Quick Links Start -->
          <div class="footer-links social-links">
            <h3>social media</h3>
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </div>
          <!-- Footer Quick Links End -->

          <!-- Footer Quick Links Start -->
          <div class="footer-links working-links">
            <h3>working hours</h3>
            <ul>
              <li>mon to fri : 10:00 to 6:00</li>
              <li>sat : 10:00AM to 3:00PM</li>
              <li>sun : closed</li>
            </ul>
          </div>
          <!-- Footer Quick Links End -->

          <!-- Footer Contact Details Start -->
          <div class="footer-links footer-contact-details">
            <h3>Help and Support</h3>
            <div class="footer-contact-box">
              <!-- Footer Info Box Start -->
              <div class="footer-info-box">
                <div class="icon-box">
                  <img src="images/icon-phone.svg" alt="" />
                </div>
                <div class="footer-info-box-content">
                  <p>+918980879143</p>
                </div>
              </div>
              <!-- Footer Info Box End -->

              <!-- Footer Info Box Start -->
              <div class="footer-info-box">
                <div class="icon-box">
                  <img src="images/icon-mail.svg" alt="" />
                </div>
                <div class="footer-info-box-content">
                  <p>info@thephysiomanifest.com</p>
                </div>
              </div>
              <!-- Footer Info Box End -->
            </div>
          </div>
          <!-- Footer Contact Details End -->

          <!-- Footer Copyright Section Start -->
          <div class="footer-links terms-condition-links">
            <div class="footer-copyright-text">
              <p>Copyright 2025 THEPHYSIOMANIFEST. All Rights Reserved.</p>
            </div>
          </div>
          <!-- Footer Copyright Section End -->
        </div>
        <!-- About Footer List End -->
      </div>
    </div>
  </div>
</footer>
