<div class="how-it-work bg-radius-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1 order-2">
        <!-- How Work Images Start -->
        <div class="how-work-images">
          <div class="row no-gutters">
            <div class="col-4">
              <!-- How Work Image Box Start -->
              <div class="how-work-image-box-1">
                <div class="how-work-img-1">
                  <figure class="image-anime reveal">
                    <img src="images/how-work-img-1.jpg" alt="" />
                  </figure>
                </div>
                <div class="how-work-img-3">
                  <figure class="image-anime reveal">
                    <img src="images/how-work-img-3.jpg" alt="" />
                  </figure>
                </div>
              </div>
              <!-- How Work Image Box End -->
            </div>

            <div class="col-8">
              <!-- How Work Image Box Start -->
              <div class="how-work-image-box-2">
                <div class="how-work-img-2">
                  <figure class="image-anime reveal">
                    <img src="images/how-work-img-2.jpg" alt="" />
                  </figure>
                </div>
                <div class="how-work-img-4">
                  <figure class="image-anime reveal">
                    <img src="images/how-work-img-4.jpg" alt="" />
                  </figure>
                </div>
              </div>
              <!-- How Work Image Box End -->
            </div>
          </div>
        </div>
        <!-- How Work Images End -->
      </div>

      <div class="col-lg-6 order-lg-2 order-1">
        <!-- How Work Content Start -->
        <div class="how-work-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">how it work</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              We Proudly Give Quality Treatment
            </h2>
          </div>
          <!-- Section Title End -->

          <!-- How Work Accordion Start -->
          <div class="how-work-accordion" id="accordion">
            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp">
              <h2 class="accordion-header" id="heading1">
                <span class="icon-box">
                  <img src="images/icon-how-it-work-1.svg" alt="" />
                </span>
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse1"
                  aria-expanded="true"
                  aria-controls="collapse1"
                >
                  book an appointment
                </button>
              </h2>
              <div
                id="collapse1"
                class="accordion-collapse collapse show"
                aria-labelledby="heading1"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body">
                  <p>
                    Some clinics provide an address or an online form for
                    appointment requests. send an email with your preferred
                    times and details.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.25s">
              <h2 class="accordion-header" id="heading2">
                <span class="icon-box">
                  <img src="images/icon-how-it-work-2.svg" alt="" />
                </span>
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse2"
                  aria-expanded="false"
                  aria-controls="collapse2"
                >
                  manual therapy treat
                </button>
              </h2>
              <div
                id="collapse2"
                class="accordion-collapse collapse"
                aria-labelledby="heading2"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body">
                  <p>
                    The goal of our clinic is to provide friendly, caring
                    dentistry and the highest level of general, cosmetic, ents.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
              <h2 class="accordion-header" id="heading3">
                <span class="icon-box">
                  <img src="images/icon-how-it-work-2.svg" alt="" />
                </span>
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse3"
                  aria-expanded="false"
                  aria-controls="collapse3"
                >
                  chronic care
                </button>
              </h2>
              <div
                id="collapse3"
                class="accordion-collapse collapse"
                aria-labelledby="heading3"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body">
                  <p>
                    The goal of our clinic is to provide friendly, caring
                    dentistry and the highest level of general, cosmetic, ents.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->

            <!-- FAQ Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.75s">
              <h2 class="accordion-header" id="heading4">
                <span class="icon-box">
                  <img src="images/icon-how-it-work-4.svg" alt="" />
                </span>
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse4"
                  aria-expanded="false"
                  aria-controls="collapse4"
                >
                  cupping care
                </button>
              </h2>
              <div
                id="collapse4"
                class="accordion-collapse collapse"
                aria-labelledby="heading4"
                data-bs-parent="#accordion"
              >
                <div class="accordion-body">
                  <p>
                    The goal of our clinic is to provide friendly, caring
                    dentistry and the highest level of general, cosmetic, ents.
                  </p>
                </div>
              </div>
            </div>
            <!-- FAQ Item End -->
          </div>
          <!-- FAQ Accordion End -->
        </div>
        <!-- How Work Content End -->
      </div>
    </div>
  </div>
</div>
