<div class="our-testimonial bg-radius-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="testimonial-content">
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">client testimonials</h3>
            <h2 class="text-anime-style-3" data-cursor="-opaque">
              Our Clients Reviews
            </h2>
            <p class="wow fadeInUp" data-wow-delay="0.25s">
              At Physiocare, we pride ourselves on providing exceptional
              physiotherapy services that deliver real results. But don't just
              take our word for it.
            </p>
          </div>
          <!-- Section Title End -->
        </div>
      </div>

      <div class="col-lg-7">
        <!-- Testimonial Slider Start -->
        <div class="testimonial-slider">
          <div class="swiper">
            <div class="swiper-wrapper" data-cursor-text="Drag">
              <!-- Testimonial Slide Start -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-header">
                    <div class="testimonial-rating">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="testimonial-content">
                      <p>
                        After my knee surgery, the team at Physiocare helped me
                        regain my mobility. The personalized treatment plan was
                        incredible.
                      </p>
                    </div>
                  </div>
                  <div class="testimonial-body">
                    <div class="author-image">
                      <figure class="image-anime">
                        <img src="images/author-1.jpg" alt="" />
                      </figure>
                    </div>
                    <div class="author-content">
                      <h3>chris w.</h3>
                      <p>professional athlete</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial Slide End -->

              <!-- Testimonial Slide Start -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-header">
                    <div class="testimonial-rating">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="testimonial-content">
                      <p>
                        I've been to several physio clinics, but none compare to
                        Physiocare. Their staff is knowledgeable, professional,
                        and genuinely care.
                      </p>
                    </div>
                  </div>
                  <div class="testimonial-body">
                    <div class="author-image">
                      <figure class="image-anime">
                        <img src="images/author-2.jpg" alt="" />
                      </figure>
                    </div>
                    <div class="author-content">
                      <h3>mark s.</h3>
                      <p>retired teacher</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial Slide End -->

              <!-- Testimonial Slide Start -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-header">
                    <div class="testimonial-rating">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="testimonial-content">
                      <p>
                        The sports injury rehab program at Physiocare has been a
                        game-changer for me. After a bad ankle sprain, I was
                        back to playing soccer.
                      </p>
                    </div>
                  </div>
                  <div class="testimonial-body">
                    <div class="author-image">
                      <figure class="image-anime">
                        <img src="images/author-3.jpg" alt="" />
                      </figure>
                    </div>
                    <div class="author-content">
                      <h3>david a.</h3>
                      <p>construction worker</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial Slide End -->

              <!-- Testimonial Slide Start -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-header">
                    <div class="testimonial-rating">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="testimonial-content">
                      <p>
                        The therapists here are amazing! I was dealing with
                        chronic back pain, and after just a few sessions, the
                        difference was unbelievable.
                      </p>
                    </div>
                  </div>
                  <div class="testimonial-body">
                    <div class="author-image">
                      <figure class="image-anime">
                        <img src="images/author-4.jpg" alt="" />
                      </figure>
                    </div>
                    <div class="author-content">
                      <h3>tom h.</h3>
                      <p>marathon runner</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial Slide End -->
            </div>
            <div class="testimonial-btn">
              <div class="testimonial-button-prev"></div>
              <div class="testimonial-button-next"></div>
            </div>
          </div>
        </div>
        <!-- Testimonial Slider End -->
      </div>
    </div>
  </div>
</div>
