<div class="our-services bg-radius-section">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-6">
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">services</h3>
          <h2 class="text-anime-style-3" data-cursor="-opaque">
            Our Specialized Physiotherapy Services
          </h2>
          <p class="wow fadeInUp" data-wow-delay="0.25s">
            We provide comprehensive, holistic care for patients of all ages.
            Our services range from Orthopaedic and Sports Physiotherapy to
            specialized Neurological and Pediatric care. We also offer Manual
            Therapy, Urinary Incontinence Management, and dedicated programs for
            Weight Loss and Speech & Swallowing difficulties (Dysphasia).
          </p>
        </div>
        <!-- Section Title End -->
      </div>

      <div class="col-lg-6">
        <!-- Section Btn Start -->
        <div class="section-btn wow fadeInUp">
          <a href="#" class="btn-default"><span>make an appointment</span></a>
        </div>
        <!-- Section Btn End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-1.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-1.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Orthopaedic Physiotherapy</h3>
              <p>
                specialized form of physical therapy delivered through hands-on
                techniques.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-2.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-2.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Neurological Physiotherapy</h3>
              <p>
                refers to persistent pain even after the underlying injury or
                illness has healed.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-3.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-3.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Pediatric Physiotherapy</h3>
              <p>
                specialized area of physiotherapy that focuses on hand, wrist,
                and forearm.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="0.75s">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-4.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-4.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Sports Physiotherapy</h3>
              <p>
                It is designed to help athletes and active individuals recover
                quickly improve injuries.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="1s">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-5.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-5.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Manual Physiotherapy</h3>
              <p>
                ancient healing practice where cups are applied to the skin to
                create suction.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-7.png" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-6.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Speech & Swallowing difficulties (Dysphasia)</h3>
              <p>
                non-invasive treatment that uses light energy to promote healing
                processes.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-7.png" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-6.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Urinary Incontinence Management</h3>
              <p>
                non-invasive treatment that uses light energy to promote healing
                processes.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-4 col-md-6">
        <!-- Service Item Start -->
        <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
          <!-- Service Item Image Start -->
          <div class="service-item-image">
            <figure>
              <img src="images/service-img-6.jpg" alt="" />
            </figure>
          </div>
          <!-- Service Item Image End -->

          <!-- Service Item Icon Start -->
          <div class="icon-box">
            <img src="images/icon-service-6.svg" alt="" />
          </div>
          <!-- Service Item Icon ENd -->

          <!-- Service Body Start -->
          <div class="service-body">
            <!-- Service Content Start -->
            <div class="service-content">
              <h3>Weight Loss Programs</h3>
              <p>
                non-invasive treatment that uses light energy to promote healing
                processes.
              </p>
            </div>
            <!-- Service Content End -->

            <!-- Service Btn Start -->
            <div class="service-btn">
              <a href="#"><img src="images/arrow-readmore-btn.svg" alt="" /></a>
            </div>
            <!-- Service Btn End -->
          </div>
          <!-- Service Body End -->
        </div>
        <!-- Service Item End -->
      </div>

      <div class="col-lg-12">
        <!-- More Service Btn Start -->
        <div class="more-service-btn wow fadeInUp" data-wow-delay="1.5s">
          <a href="#"
            >Find Out More About our Services<img
              src="images/arrow-long-white.svg"
              alt=""
            /></a
          >
        </div>
        <!-- More Service Btn End -->
      </div>
    </div>
  </div>
</div>
<div class="bg-section bg-radius-section"></div>
