<div class="topbar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 col-md-12">
        <!-- Topbar Contact Information Start -->
        <div class="topbar-contact-info">
          <ul>
            <li>
              <a href="#"
                ><img src="images/icon-phone.svg" alt="" /> +91 89808 79143</a
              >
            </li>
            <li>
              <a href="#"
                ><img src="images/icon-mail.svg" alt="" /> info@thephysiomanifest.com</a
              >
            </li>
            <li class="hide-mobile">
              <a href="#"
                ><img src="images/icon-location.svg" alt="" /> A 403, a block AWS
                3, Manavmandir Road, Ahmedabad - 380052</a
              >
            </li>
          </ul>
        </div>
        <!-- Topbar Contact Information End -->
      </div>

      <div class="col-lg-3 col-md-0">
        <!-- Topbar Social Links Start -->
        <div class="topbar-social-links">
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
        <!-- Topbar Social Links End -->
      </div>
    </div>
  </div>
</div>
